a {
    color: #0074d9;
}

a:hover {
    color: #32A0FF;
}

body {
    background: #ccc;
    font-family: 'Open Sans', sans-serif;
}

body, html, #wrap {
    height: 100%;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

#user-display {
    max-width: 520px;
}

#wrap {
    width: 100%;
}

.btn {
    background: #0074d9;
    border: none;
    border-radius: 0;
    box-shadow: 0 1px 0px 0 #999999, 0 0px 1px 0px #999999;
    color: #ddd;
    display: block;
    font-size: 1.2em;
    height: 1.5em;
    text-align: center;
    text-decoration: none;
    width: 100%;
    -webkit-transition: bottom 0.3s;
    -moz-transition: bottom 0.3s;
    -ms-transition: bottom 0.3s;
    -o-transition: bottom 0.3s;
    transition: bottom 0.3s;
}

.btn:hover {
    background-color: #1084e9;
    color: #fff;
}

