a {
    color: #0074d9;
}

a:hover {
    color: #32A0FF;
}

body {
    background: #ccc;
    font-family: 'Open Sans', sans-serif;
}

body, html, #wrap {
    height: 100%;
}

h2 {
    margin-bottom: 0;
    text-align: center;
}

#user-display {
    max-width: 520px;
}

#wrap {
    width: 100%;
}


