body {
    font-size: 1.3em;
}

header {
    text-align: center;
}

#errors, #reg {
    margin-bottom: 0;
    font-size: 0.8em;
}

#form {
    border: 1px solid #aaa;
    margin: auto;
    padding: 1em;
    width: 300px;
}

.form_button {
    
}

.form_button button {
    background-color: #0074d9;
    border: none;
    box-shadow: 0 5px 0 #004D94;
    color: #ddd;
    padding: 0.5em 0;
    width: 100%;
}

.form_button button:active {
    margin-bottom: -0.1em;
    margin-top: 0.1em;
}

.form_input {
    margin: 0 0 0.7em;
}

.form_input input {
    border: 1px solid #aaa;
    width: 100%;
}

.form_input input:focus {
    background-color: #ddd;
}

.form_input label {
    display: inline-block;
    margin-bottom: 0.2em;
}

@media screen and (max-width: 400px) {
    #form {
        border: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}